<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--    <bean id="beanTemplate" abstract="true">-->
<!--        <property name="Msg" value="I wish I could see her in real life."/>-->
<!--        <property name="Code" value="2029"/>-->
<!--    </bean>-->

    <bean id="HS_0" class="com.lost_xmas.Demo.HelloSpring" autowire="byName" />

    <bean id="xmas" class="com.lost_xmas.Demo.XmasObject">
        <property name="Year" value="2021"/>
        <property name="Name" value="Carol"/>
    </bean>

    <bean id="msg" class="com.lost_xmas.Demo.HelloString">
        <constructor-arg value="I Love Carol!"/>
    </bean>

<!--    <bean id="HSJ_0" class="com.lost_xmas.Demo.HelloSpringJr" parent="beanTemplate">-->
<!--        <property name="Code" value="1224"/>-->
<!--    </bean>-->

<!--    <bean class="com.lost_xmas.Demo.InitHelloSpring" />-->
</beans>