<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="HS_0" class="com.lost_xmas.Demo.HelloSpring" init-method="start" destroy-method="death">
        <property name="Msg" value="I Love Carol!"/>
    </bean>

    <bean id="HSJ_0" class="com.lost_xmas.Demo.HelloSpringJr" parent="HS_0">
        <property name="Code" value="20291224"/>
    </bean>

<!--    <bean class="com.lost_xmas.Demo.InitHelloSpring" />-->
</beans>